.content {
  box-shadow: 0 0 2px #888888;
}

.inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top {
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 1px #999999;
    padding-top: .5em;
    padding-bottom: .5em;
}

.mid {
  box-shadow: 0 0 1px #999999;
}

.bottom {

}

.topI {

}

.midI {
  text-align: center;
}

.botI {
  text-align: center;
  padding: .5em;
}

.bottom {
    font-family: 'Lato', sans-serif;
}

.motto {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: grey;
  margin: 0;
  padding-bottom: 2em;
}

.title {
  font-family: 'Oxygen Mono', monospace;
  font-size: 3em;
  margin: 0;
  padding-top: 1em;
}
